{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "react",
    "@typescript-eslint",
    "prettier"
  ],
  "env": {
    "browser": true,
    "jasmine": true,
    "jest": true
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  },
  "root": true,
  "parser": "@typescript-eslint/parser",
  "rules": {
    "@typescript-eslint/no-empty-function": "warn",
    "react/react-in-jsx-scope": "off",
    "react/prop-types": "off",
    "@typescript-eslint/ban-types": "off",
    "@typescript-eslint/ban-ts-comment": "warn"
  },
  "overrides": [
    {
      "files": [
        "src/**/*.ts",
        "src/**/*.tsx"
      ],
      "rules": {
        "no-unused-vars": "off"
      }
    }
  ]
}
