/src/app/api/axios.ts
/src/components/shared/atoms/_Simple
/src/components/shared/moleculas/_Simple
/src/components/templates/_Simple
/src/features/services/_sample
/src/features/services/condition
/src/features/widgets/_Sample
/src/index.ts
/src/styles/ColorsScheme.ts
/src/utils/hooks/
/src/utils/functions/
