{
  "extends": [
    "@npm.piece/eslint-config-npmpiece"
  ],
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          ["@app", "./src/app"],
          ["@components", "./src/components"],
          ["@constants", "./src/constants"],
          ["@functions", "./src/utils/functions"],
          ["@helpers", "./src/utils/helpers"],
          ["@hooks", "./src/utils/hooks"],
          ["@layouts", "./src/layouts"],
          ["@pages", "./src/pages"],
          ["@services", "./src/features/services"],
          ["@styles", "./src/styles"],
          ["@widgets", "./src/features/widgets"]
        ],
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}

