{
  "extends": [
    "@npm.piece/eslint-config-npmpiece"
  ],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          ["@app", "./src/app"],
          ["@components", "./src/components"],
          ["@constants", "./src/constants"],
          ["@functions", "./src/utils/functions"],
          ["@generated", "./src/features/generated"],
          ["@utility-components", "./src/utils/components"],
          ["@hooks", "./src/utils/hooks"],
          ["@layouts", "./src/layouts"],
          ["@pages", "./src/pages"],
          ["@services", "./src/features/services"],
          ["@styles", "./src/styles"],
          ["@widgets", "./src/features/widgets"]
        ],
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}

